
/* reset the page so that we can set up the page for full width  use */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }


 #container {
    display: grid;
 }

 .grid {
     background-color: white;
 }

 .grid:hover {
     background-color: black;
 }

 button {
    margin-top: 20px;
    font-size: 1.25rem;
    padding: 5px;
 }